* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: Poppins, sans-serif;
}
@font-face {
  font-family: Inter;
  src: url("../Ex_1/font/Inter-Regular.ttf");
  font-weight: 400;
}
@font-face {
  font-family: Poppins-Bold;
  src: url("../Ex_1/font/Poppins-Bold.ttf");
  font-weight: 700;
}
@font-face {
  font-family: Poppins;
  src: url("../Ex_1/font/Poppins-Regular.ttf");
  font-weight: 400;
}
/* Start style header */
header {
  display: flex;
  justify-content: space-between;
  margin: 3.125em 7.5em;
  /* background-color: aqua; */
  align-items: center;
}
.logo img {
  height: 2.8125em;
  margin-top: 0.25em;
}
.navbar ul {
  list-style-type: none;
  font-size: 0;
}
.navbar ul li {
  display: inline-block;
  font-size: 0.9375em;
  padding: 0.625em 0.9375em;
}
.navbar ul li a {
  text-decoration: none;
  color: black;
}
.navbar ul li:nth-of-type(1) a {
  color: #f54b4b;
}
.function {
  position: relative;
}
/* #dad5d52d */
.function input {
  height: 2.8125em;
  width: 17.5em;
  border: 0;
  border-radius: 0.75em;
  box-shadow: 0em 0.9375em 1.25em 0.625em #dad5d52d;
  padding-left: 2.8125em;
  font-size: 1.25em;
}
.function input::placeholder {
  font-size: 0.9375em;
  color: #3d3737;
  opacity: 1;
  transform-origin: opacity;
  transition-duration: 150ms;
}
.function .fa-solid:nth-of-type(1) {
  position: absolute;
  top: 1em;
  left: 1.125em;
  color: #8b8b8b;
  font-size: 1em;
}
.function .fa-solid:nth-of-type(2) {
  position: absolute;
  font-size: 1.25em;
  top: 0.8125em;
  right: 0.9375em;
  color: #3d3737;
}
.vertical-line {
  display: inline-block;
  position: absolute;
  height: 1.875em;
  border: 0.0625em solid #cccccc4b;
  right: 60em;
  top: 8px;
}
.vertical-line::after {
  content: "2";
  position: absolute;
  width: 1.5625em;
  height: 1.5625em;
  border-radius: 50%;
  justify-content: center;
  align-content: center;
  text-align: center;
  background-color: #f54b4b;
  color: #fff;
  font-weight: 700;
  font-size: 0.875em;
  left: 2.8125em;
  top: -1.25em;
  box-shadow: 0em 0em 0.0625em 0.0625em #f54b4b;
}
.function input:focus::placeholder {
  opacity: 0;
}
.function input:focus {
  outline: 0;
}

/* Finish style header */

section {
  display: inline-block;
  margin-top: 1.875em;
}

/* Start style class="decorate" */

section .decorate {
  display: flex;
  margin-inline: 11.25em;
  width: 200em;
  font-size: 1em;
  font-weight: 700;
  padding: 10em;
  border-radius: 6.1875em;
  justify-content: center;
  background-color: #fdecec;
  color: #f54b4b;
}
section .decorate span {
  margin-top: 0.1875em;
  margin-right: 10em;
}
section .decorate img {
  height: 1.875em;
}

/* Finish style class="decorate" */

article .container-1 {
  display: flex;
  width: 69.3125em;
  height: 400em;
  margin: 10em 11.25em;
  justify-content: space-between;
  /* background-color: aqua; */
  position: relative;
}
.container-1 .container-inf {
  width: 600em;
  text-align: left;
}
.container-1 .container-inf h1 {
  font-size: 50em;
  font-family: Poppins-Bold;
  font-weight: 700;
  line-height: 60em;
}
.container-1 .container-inf h1 span {
  color: #f54b4b;
}
.container-1 .container-inf p {
  margin: 1.5625em 0em;
  line-height: 1.875em;
  font-size: 1.25em;
  color: #9d9e9d;
}
.container-1 .container-button {
  margin-top: 50em;
  cursor: pointer;
}
.container-1 .container-button button {
  width: 180em;
  height: 70em;
  border-radius: 0.75em;
  border: 0;
  font-size: 1.25em;
  background-color: #f54b4b;
  color: #fff;
  transition-property: background-color, color, border-color, border-width;
  transition-duration: 300ms;
}
.container-1 > img {
  height: 440em;
  position: absolute;
  top: -60em;
  right: 0;
}
.container-1 .container-button .fa-play {
  width: 60em;
  height: 60em;
  background-color: #fff;
  color: #fdc55e;
  justify-content: center;
  align-content: center;
  text-align: center;
  border-radius: 6.1875em;
  border: 0;
  box-shadow: 0em 10em 1.25em 10em #dad5d52d;
}
.container-1 .container-button span {
  font-size: 1.25em;
}
.container-1 .container-button:hover span {
  color: #555353;
}
.container-1 .container-button button:hover {
  background-color: #fff;
  color: #f54b4b;
  border-color: #f54b4b;
  border-width: 0.0625em;
  border-style: solid;
}

/* Finish Section 1 */
.part-2 {
  background-color: #fef5f5;
  margin-top: 70em;
  padding-bottom: 70em;
}
.container-2 {
  width: 69.3125em;
  height: 400em;
  margin: 90em 11.25em;
  justify-content: center;
  text-align: center;
  max-width: 69.3125em;
}
.container-2 .title span {
  color: #f54b4b;
  font-weight: 600;
}
.container-2 .title h2 {
  text-transform: capitalize;
  font-family: Poppins-Bold;
  font-size: 2.375em;
  margin-top: 10em;
}
.list-card {
  margin-top: 70em;
  width: 69.3125em;
  display: flex;
  justify-content: space-evenly;
}
.list-card article {
  position: relative;
}
.card {
  background-color: #fff;
  padding: 40em 0em;
  width: 280em;
  height: 300em;
  border-radius: 10em;
  margin: 1.25em;
  position: relative;
  left: 0;
  z-index: 1;
}
.card img {
  height: 60em;
  margin-bottom: 50em;
}
.card p {
  margin-top: 1.25em;
  font-size: 0.9375em;
  color: #9d9e9d;
}
.overlay {
  display: inline-block;
  width: 280em;
  height: 300em;
  background-color: #f54b4b;
  border-radius: 10em;
  position: absolute;
  top: 1.25em;
  left: 1.25em;
  transition: all 200ms;
  /* transform-origin: 0; */
}
.card:hover ~ .overlay {
  transform: rotate(-5deg) translateX(0.8125em);
}

/* Finish Section 2 */

.container-3 {
  width: 69.3125em;
  height: 400em;
  margin: 50em 11.25em;
  display: flex;
  justify-content: space-between;
}
.container-3 img {
  height: 600em;
}
.inf {
  margin: 170em 10em;
  width: 450em;
}
.inf span {
  text-transform: uppercase;
  color: #03a66b;
  font-weight: 700;
}
.inf h2 {
  margin-top: 10em;
  text-transform: capitalize;
  font-family: Poppins-Bold;
  width: 400em;
  font-size: 2.375em;
  line-height: 50em;
}
.inf p {
  color: #9d9e9d;
  line-height: 1.875em;
  margin: 1.25em 0em 70em;
}
.inf button {
  width: 180em;
  height: 60em;
  border-radius: 0.75em;
  border: 0;
  font-size: 1.25em;
  background-color: #f54b4b;
  color: #fff;
  transition-property: background-color, color, border-color, border-width;
  transition-duration: 300ms;
  cursor: pointer;
}
.container-3 .inf button:hover {
  background-color: #fff;
  color: #f54b4b;
  border-color: #f54b4b;
  border-width: 0.0625em;
  border-style: solid;
}

/* Finish Section 3 */

.container-4 {
  width: 69.3125em;
  height: 500em;
  margin: 50em 11.25em;
  display: flex;
  justify-content: space-between;
}
.container-4 img {
  height: 600em;
}
.container-4 .inf {
  margin: 170em 10em;
  width: 51.25em;
}
.container-4 .inf span {
  text-transform: uppercase;
  color: #f9ba45;
  font-weight: 700;
}
.inf h2 {
  margin-top: 10em;
  text-transform: capitalize;
  font-family: Poppins-Bold;
  width: 500em;
  font-size: 2.375em;
  line-height: 50em;
}

.container-4 .inf button:hover {
  background-color: #fff;
  color: #f54b4b;
  border-color: #f54b4b;
  border-width: 0.0625em;
  border-style: solid;
}

/* Finish Section 4 */
.part-5 {
  background-color: #fef5f5;
  margin-top: 11.25em;
  padding-bottom: 100em;
}
.container-5 {
  width: 69.3125em;
  height: 400em;
  margin: 11.25em 11.25em;
  display: flex;
  /* justify-content: space-evenly; */
  /* background-color: #03a66b; */
  gap: 50em;
}
.container-5 img {
  height: 550em;
  margin-left: 11.25em;
}
.container-5 .inf {
  margin: 90em;
  width: 51.25em;
}
.container-5 .inf > span {
  text-transform: none;
  color: #f54b4b;
  font-weight: 700;
}
.inf h2 {
  margin-top: 10em;
  text-transform: capitalize;
  font-family: Poppins-Bold;
  width: 500em;
  font-size: 2.375em;
  line-height: 50em;
}
.icon {
  display: flex;
  gap: 50em;
}
.icon img {
  height: 50em;
  position: absolute;
  bottom: 10em;
  left: -100em;
}
.icon .store {
  width: 200em;
  height: 70em;
  border: 0.0625em solid rgba(0, 0, 0, 0.034);
  border-radius: 10em;
  position: relative;
  cursor: pointer;
}
.icon .store span {
  position: absolute;
  right: 1.25em;
  bottom: 1.25em;
  color: black;
}
/* Finish Section 5 */
footer .container-6 {
  width: 69.3125em;
  height: 300em;
  margin: 80em 11.25em;
  display: flex;
  gap: 11.25em;
  align-content: baseline;
}
.container-6 .title-footer {
  width: 270em;
  /* background-color: #f9ba45; */
}
.container-6 .title-footer img {
  height: 50em;
}
.container-6 .title-footer p {
  margin-top: 1.25em;
  color: #9d9e9d;
}
.container-6 ul {
  list-style-type: none;
  margin-top: 50em;
}
.container-6 ul li a {
  display: inline-block;
  text-decoration: none;
  color: #9d9e9d;
  text-transform: capitalize;
  margin-bottom: 0.9375em;
}
.container-6 > div:nth-child(4) {
  width: 200em;
}
.container-6 > div:nth-child(4) p {
  margin-top: 50em;
  color: #9d9e9d;
}
.last-line {
  display: flex;
  width: 69.3125em;
  margin: 40em 11.25em;
  justify-content: space-between;
  font-size: 0.9375em;
}
.last-line span {
  color: #9d9e9d;
}
.last-line div a {
  text-decoration: none;
  color: #5a5c5a;
  margin: 0em 0.9375em;
}
